@keyframes mb {
    25%{
        box-shadow: 308px 30px 190px 110px #35c2ff;
    }
    50%{
        box-shadow: 308px 308px 190px 110px #35c2ff;
        
    }
    75%{
        box-shadow: 30px 308px 190px 110px #35c2ff;
        
    }
    100%{
        box-shadow: 30px 30px 190px 110px #35c2ff;
    }
}
@keyframes mb1 {
    25%{
        box-shadow: 30px 30px 190px 110px #64a9c6;
    }

    100%{
        box-shadow: 362px 249px 170px 110px #64a9c6;
    }
}

@keyframes bsUD {

    33%{
        translate: 0 -10%;
    }
    66%{
        translate: 0 10%;
    }
    100%{
        translate: 0 0;
    }
}

@keyframes pulse {
    to{
        box-shadow: 0 0 20px 10px #64B16300;
    }
}
@keyframes beat {
    50%{
        width: 40%;
        height: 40%;
    }
}

@keyframes moving-Text {
    to{
        background-position-x: 600px;
    }
}
.show {
    animation: shows 1s ease-out 1 forwards;
}

@keyframes shows {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes show-slide {
    from{
        background-size: 0rem;
    }
    to{
        background-size: 500rem;
    }
}
@keyframes hide-slide {
    from{
        background-size: 500rem;
    }
    to{
        background-size: 0rem;
    }
}

@keyframes rotateBF {
    0% {
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
        color: var(--secundayDark);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes brotate {
    50%{
        rotate: 10deg;
    }
}
@keyframes hide-opacity {
    0% {
        opacity: 1;

    }   
    60%{
        opacity: 0.4;
        scale: 0.8;
    } 
    90%{
        opacity: 0.1;
        scale: 0.4;
    }
    100%{
        opacity: 0;
        scale: 0;
        display: none;
    }
}

@keyframes menugrow {
    to{
        width: 400px;
    }
}
@keyframes scale-up-hor-left {
    0% {
        transform: scaleX(1);
        transform-origin: 0% 0%;
        filter: brightness(0);
}
100% {
        transform: scaleX(0);
        transform-origin: 0% 0%;
}
  }
@keyframes scale-up-hor-right {
    0% {
              transform: scaleX(0);
              transform-origin: 0% 0%;
              filter: brightness(0);
    }
    100% {
              transform: scaleX(1);
              transform-origin: 0% 0%;
    }
  }