

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
    transition: all .3s ease-in-out;
}

:root{
    /*||FONT COLORS*/
        --primary: white;
        --secundary: #DFDFDF;
        --highlightPrimary: #76CEFF;
        --highlightSecundary: #55EBFF;
    
        --primaryDark: black;
        --secundayDark: #545050;
        --highlightDark: #DFDFDF;
        --highlightSecundaryDark: #5098CD;
        
    
    /*||FONT SIZES*/
        --xl: 6rem;
        --xxl: 10rem;
        --large: 3rem;
        --medium: 2rem;
        --normal: 1rem;
        
    }

/*|| UTILITY CLASS*/
.font-large{font-size: clamp(1rem, 6vw, 11vw);}
.font-xl{font-size: clamp(1rem, 6vw, 11vw);}
.font-xxl{font-size: clamp(1rem, 15vw, 13vw);}
.font-big{ font-size: clamp(5rem, 30vw, 48rem);}

.bold{ font-weight: 900;}

.antonio{ font-family: "antonio", Arial, Helvetica, sans-serif;}
.inter{ font-family: "Inter", Arial, Helvetica, sans-serif;}
.flex-row{display: flex;}
.flex{
    display: flex;
    flex-direction: column;
}
.center-grid{
    display: grid;
    place-content: center;
    place-items: center;
}
.justify-center{
    justify-content: center;
}
html{
    scrollbar-width: none;
}

body{
    background-color: black;
    color: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.page-loader{
    background-color: #000;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    display: grid;
    place-content: center;
}
.loader{
    width: 83px;
    top: 60%;
    --b: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: transparent;
    backdrop-filter: invert(1);
    -webkit-mask: repeating-conic-gradient(#0000 0deg, #000 1deg 43deg, #0000 70deg 90deg), radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: l5 1s infinite;
    position: absolute;
    translate: -50% -50%;
    left: 50%;
}
main{
    overflow-x: clip;
}
.page-loader h1{
    text-shadow: 0 0 10px #ccc;
}
.bottom-right{
    position: absolute;
    bottom: 20px;
    right: 10px;
}
.hidden{ 
    transform: scaleY(0);
    height: 0px;
}
.d-none{
    opacity: 0;
    height: 0;
}
.center{
    display: grid;
    place-content: center;
}
.j-center{
    display: grid;
    justify-content: center;
}
.a-center{
    display: grid;
    align-content: center;
}
.container{
    width: 100vw;
    position: relative;
    height: 100vh;
}

.fit{
    position: relative;
    width: 100%;
    height: 100%;
}
.highlight{
    color: var(--highlightPrimary);
}
.full-screen{
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow-x: clip;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100vw;
    position: fixed;
    z-index: 100;
    user-select: none;
}
/*|| TIME*/
.timelocation-container{
    
    text-align: left;
    font-weight: 200;
    z-index: 100;
    position: relative;
    overflow: hidden;
    filter: contrast(10);
    
}
.time{
    font-size: 32px;
    animation: fade-in 0.3s ease-in forwards;
    animation-play-state: paused;
    color: white;
    mix-blend-mode: difference;
    text-shadow: 2px 2px 10px #777;
}
.location{
    font-size: 16px;
    animation: fade-in 0.3s ease-in forwards;
    animation-play-state: paused;
    color: white;
    mix-blend-mode: difference;
    text-shadow: 2px 2px 5px #555;
}
/*|| MENU*/
nav{
    z-index: 100;
    display: flex;
    align-items: center;
}
nav ul{
    background-color: #c2c2c239;
    padding: 16px;
    border-radius: 30px;
    padding-left: 32px;
    padding-right: 32px;
    backdrop-filter: blur(26px);
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-weight: 100;
    gap: 1rem;
    color: white;
    font-size: 1rem;
    ;
}
nav ul a, li{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-family: 'Antonio', Arial, Helvetica;
    user-select: none;

}
nav ul li{
    font-weight: 600;

}
nav .lang{
    color: #ccc;
    transition: all 5ms ease-in;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}
nav .lang p{
    font-weight: 500;
    font-size: 0.8rem;
}
nav .lang:hover{
    color: #fff;
}
nav:hover li:nth-child(4){
       animation: hide-opacity .3s ease-in 1 forwards;
}
nav:hover 

/*|| CONTACT*/

#contact h1{
    line-height: 5vw;
    text-align: right;
    font-size: 6.5vw;
    position: relative;
    z-index: 20;
}
.cbg{
    width: fit-content;
    position: absolute;
    justify-self: end;
    align-self:flex-start;
    top: 0;
    left: 10vw;

}
.bg{
    background-color: #5c6f7dd2;
    width: clamp(100px, 35vw, 444px);
    height: clamp(100px, 20vw, 285px);
    border-radius: 32px;
    overflow: hidden;
    opacity: 0.7;
    position: absolute;
    top: 0;
    clip: auto;
}
.bg div{
    width: 10px;
    height: 10px;
    box-shadow: 30px 30px 190px 110px #5698B5;
    background-color: #5099cd;
    filter: blur(5px);
    animation: mb 3s ease infinite;
    
}
.bg div:nth-child(2){
    box-shadow: 362px 249px 170px 110px #5698B5;
    animation: mb1 3s ease-in-out infinite backwards;
}
.tbg{
    width: clamp(100px, 35vw, 444px);
    height: clamp(100px, 20vw, 285px);
    background-color: #4b4c4c83;
    border-radius: 32px;
    translate: -30px 50px;
}

#contact h1 span{
    color: #5098cd;
}
#contact h2{
    font-size: clamp(1rem, 7vw, 60px);
}
.contact-c{
    flex-grow: 1;
    flex-basis: 50vh;
}
.social_media{
    justify-self: end;
    align-self: flex-end;
    justify-self: flex-end;
    position: absolute;
    left: 8vw;
    translate: 0 -10vh;

}
.medias{
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 8px;
    gap: 0.5rem;
}
.medias .media-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 4ch;
    cursor: pointer;
}
.medias .media-item:hover  svg{
    filter:brightness(2)  drop-shadow(0 0 15px #ccc) ;
    text-shadow: 0 0 5px 5px #ccc;
}
.contact-c form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}
.contact-c form textarea{
    resize: none;
    height: clamp(1rem, 18vh, 30vh)
}
.contact-c:nth-child(1){
    display: flex;
    align-items: end;
    min-height: 27vh;
}
.c-input {
    background-color: transparent;
    border: 1.8px solid #dfdfdf;
    font-size: 18px;
    border-radius: 32px;
    font-weight: 500;
    padding: 1.8ch;
    color: #ccc;
    font-family: 'anton', Arial;
    letter-spacing: 0.5px;

}
.sub-input{
    border: 2px solid #999;
    border-radius: 50px;
    height: 74px;
    font-size: 18px;
    background-color: #5098cd;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}
.c-::placeholder{
    color: #777;
}

footer{
    font-size: 32px;
    font-weight: bold;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: scroll;
    gap: 2rem;
    overflow-y: clip;
    overflow-x: scroll;
    width: 100vw;
    scrollbar-width: thin;
    padding-left: 2vw;
    padding-right: 2vw;
    scrollbar-color: #333 transparent;
    padding-bottom: .5rem;

}
.horizontal-scroll{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1.5vw;
    
}
.horizontal-scroll>*{
    scroll-snap-align: start;
}
.subtract-alpha{
    filter: url(#subtract-alpha);
}
.snap{
    background: radial-gradient(circle, #173C5E 0%, rgba(0,0,0,1) 92%);
    width: 100%;
    min-height: 200vh;
    position:absolute;
    z-index: 1;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap-reverse;
}